.cart-area{
  margin-bottom: 30px ;
  .amount-preloader{
    height: 20px;
    width: 20px;
  }
.cart-area-inner{
  display: grid;
  grid-template-columns: 65% 33%;
  gap: 2rem;
  .cart-cards-feed > *:last-child{
    border-bottom: none !important;
  }
  .cart-cards-feed{
    .cart-prduct{
      padding: 30px 40px;
      border-bottom: 1px solid rgb(219, 219, 219);
      background: $--fooggy_light;
      .cart-product-image{
        width: 100px;
        height: 100px;
        img{
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
      .cart-product-info{
        line-height: 1.6;
        margin-left: 50px;
        width: 300px;
        h1{
          font-weight: lighter;
          font-size: 12px;
        }
        h3{
          font-size: 12px;
        }
      }
      .cart-product-price-by-quantity{
        margin-left: 30px;
      }
      .cart-produt-quantity{
        margin-left: 50px;
        .button-container{
          border: 1px solid $--primary_border;
          background: $--extra_light;
        }
         .qty{
          width: 30px;
          height: 30px;
          border: none;
          background: transparent;
        }
        .cart-qty-plus, .cart-qty-minus{
          width: 30px;
          height: 30px;
          border: none;
          cursor: pointer;
          color: $--dark;
          font-size: 20px;
          background: transparent;
        }
      }
      .remove-item-from-cart{
        margin-left: 10px;
        background: $--dark !important;
      }
      .remove-item-from-cart, .update-cart-quantity{
        background: $--dark;
        font-size: 12px;
        cursor: pointer;
        color: $--extra_light;
        border: none;
        height: 30px;
        padding: 0 10px;
      }
    }
  }
  .cart-checkout{
    padding: 50px;
    background: $--banner-primary;
    height: fit-content;
    .checkout-headline{
      font-size: 16px;
      color: $--dark;
    }
    .subtotal-box{
      margin: 20px 0;
      line-height: 1.7;
      li{
        color: $--dark;
        strong{
          font-size: 13px;
        }
        display: flex;
        justify-content: space-between;
        span{
          margin-left: 20px;
        }
      }
    }
    .select-delivery{
      border: 1px solid $--primary_border;
      padding: 10px;
      span{
        color: $--dark;
        font-size: 13px;
      }
    }
    .checkout-btn{
      background: $--dark;
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 25px 0;
      padding-top: 4px;
      cursor: pointer;
      a{
        font-size: 13px;
        color: $--extra_light;
      }
    }
    .checkout-aval-cards{
      display: flex;
      gap: 1rem;
      a{
        display: flex;
        align-items: center;
        padding: 3px;
        width: 40px;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
}

.sm{
  display: flex;
  align-items: center;
}

.empty-cart-info{
  height: 500px;
  margin-top: 30px;
  h1{
    font-size: 20px;
    font-weight: lighter;
    border-color: $--secondary_border;
    padding-bottom: 20px;
  }
  .redirect-from-cart{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px;
    background: $--dark;
    color: $--extra_light;
    font-size: 14px;
    border: 2px solid $--dark !important;
  }
  .login-page-redirect{
    background: transparent;
    border: 2px solid $--dark !important;
    color: $--dark;
  }
}