//text colors
$text-light-color: #fff;
$text-dark-color: #111;
$text-foggy-white-color: #828282;
$text-smooth-color: #666;

//border colors
$smooth_border_color: #e5e5e5;

//primary colors
$dark_background_color: #111;
$background-foggy-white: #ebebeb;
$background_smooth_color: #EAEDED;