@media screen and(max-width: 1000px) {
  .shop-page-wrapper .shop-page-content{
    grid-template-columns: auto !important;
  }
}
@media screen and(max-width: 600px) {
  .slider-banner-item{
    grid-template-columns: auto !important;
    .banner-item-hero{
      // height: 50% !important;
    }
  }
}
@media screen and(max-width: 1015px) {
  .subscribe .subscribe-inner{
    grid-template-columns: auto !important;
  }
  .subscribe .subscribe-inner .subscribe-banner-circle{
    width: 3vh !important;
    height: 3vh !important;
  }
  .subscribe .subscribe-inner .subscribe-block .registr-typography{
    font-size: 3vw;
    line-height: 1rem !important;
  }
  .subscribe .subscribe-inner .subscribe-form .form-email-confirm .subs-btn{
    // padding: 0 !important;
    font-size: 2vw;
  }
}
@media screen and(max-width: 1320px) {
  .grid-cards-by-3{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
  }
}
@media screen and(max-width: 500px) {
  .redirect-ways{
    display: flex;
    flex-direction: column;
  }
  .empty-cart-info .redirect-from-cart{
    margin-bottom: 0 !important;
  }
}

@media screen and(max-width: 825px) {
  .shop-by-styles-inner, .details-item-drawer{
    grid-template-columns: auto !important;
    justify-content: normal !important;
    .details-description{
      margin-left: 0 !important;
    }
  }
  .product-fullInfo-wrapper .product-fullInfo-inner .product-description-drawer{
    grid-template-columns: auto !important;
  }
}
@media screen and(max-width: 900px) {
  .cart-area .cart-area-inner{
    grid-template-columns: auto !important;
  }
  .cart-product-info{
    width: 100% !important;
  }
  .product-card-tocart{
    right: 10px !important;
  }
}
@media screen and(max-width: 560px) {
  .cart-area .cart-area-inner .cart-cards-feed .cart-prduct .cart-product-info{
    display: none;
  }
  .product-card .product-card-price, .product-card .product-card-drawer .product-card-avaliability{
    font-size:2vw !important;
  }
  .goto-cart-btn{
    span{
      font-size: 3vw;
    }
  }
}
@media screen and(max-width: 500px) {
  .shop-page-wrapper .shop-page-cards{
    grid-template-columns: auto !important;
  }
}
@media screen and(max-width: 1000px) {
  .shop-filters-responsive-option{
    display: block !important;
  }
}
@media screen and(max-width: 780px) {
  .form-area{
    grid-template-columns: auto !important;
  }
  .main-header .main-header-inner .header-left-drawer .logo-drawer{
    max-width: 100px !important;
  }
  .site-banner .site-banner-inner .banner-widget span{
    display: none;
  }
  .header-mobile-fix{
    display: block !important;
  }
  .menu-icon-hidden{
    display: block !important;
  }
  .main-header{
    padding: 5px !important;
  }
  .top-bar-item{
    a{
      span{
        display: none;
      }
    }
  }
  .status-bar-navigation-list{
    display: none;
    flex-direction: column;
    &:first-child{
      border-top: 1px solid #e5e5e5;
    }
    li{
      display: block;
      padding: 20px;
      border-bottom: 1px solid #e5e5e5;
      a{
        color: $--dark;
      }
    }
  }
  .status-bar-inner{
    justify-content: space-between;
  }
  .sticky_header{
    position: static;
  }
  .benefits-area-banner{
    display: none;
  }
  .benefit-cards-wrapper-inner{
    grid-template-columns: auto !important;
  }
  .slider-item-description-box{
    width: 95% !important;
    h2{
      font-size: 4vw !important;
    }
  }
  .slide-item-content{
    height: 300px !important;
  }
  .category-menu-button{
    padding: 5px 10px !important;
  }
  .section-hd-typography{
    font-size: 5vw !important;
  }
  .product-cards-area{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
    gap: 1rem !important;
  }
  .product-card{
    max-width: 100% !important;
  }
  .product-card .flip-card{
    width: 100% !important;
  }
}
@media screen and(max-width: 570px) {
  .header-middle-drawer{
    display: none;
  }
}
@media screen and(max-width: 990px) {
  .header-middle-drawer{
    .status-bar-navigation-list{
      display: none;
    }
  }
  .nav-menu{
    margin-left: 0px !important;
  }

}
@media screen and(max-width: 880px) {
  .site-footer-inner{
    grid-template-columns: auto !important;
  }
}
@media screen and(max-width: 745px) {
  .search-area-keyowrd{
    flex-direction: column !important;
    align-items: flex-start !important;
    .price-filter{
      margin-left: 0 !important;
      margin-top: 20px;
    }
  }
}
@media screen and(max-width: 445px) {
  .search-area-keyowrd{
    .price-filter{
      span{
        display: none;
      }
      .price-filter-inputs{
        margin-left: 0px !important;
      }
    }
  }
}

.shop-filters-responsive-option{
  border: 1px solid #bebebe;
  padding: 9px 12px 6px 12px;
  cursor: pointer;
}
.shop-filters-responsive-option{
  display: none;
}
.menu-icon-hidden{
  display: none ;
  i{
    font-size: 30px;
    color: $--dark;
  }
}
.filters-responsive-fade{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 25%;
  background: $--extra_light;
  box-shadow: 3px 0px 12px 0px rgba(0,0,0,0.75);
  z-index: 100;
  display: none;
  .filters-nav-header{
    width: 100%;
    justify-content: right;
    display: flex;
    padding: 30px;
    .filters-nav-close{
      i{
        color: $--dark;
        font-size: 20px;
      }
    }
  }
  .filters-fade-body{
    overflow-y: scroll;
    height: 100%;
  }
}
.responsive-sidenav{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 25%;
  background: $--extra_light;
  z-index: 10;
  display: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 8px 0px 0px;
  .responsive-sidenav-inner{
    width: 100%;
    .responsive-sidenav-header{
      width: 100%;
      justify-content: right;
      padding: 30px;
      .close-responsive-sidenav{
        i{
          color: $--dark;
          font-size: 20px;
        }
      }
    }
  }
}

// mobile menu fixed 
.header-mobile-fix{
  border-top: 1px solid rgb(235, 235, 235);
  position: fixed;
  height: 50px;
  background: white;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 1000;
  .mobile-fix-inner{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    .mobile-menu-item{
      i{
        font-size: 20px;
        color: $--dark;
      }
    }
  }
}

.search-responsive-nav{
  position: fixed;
  top: 0;
  bottom: 80%;
  left: 0;
  right: 0;
  background: white;
  z-index: 100;
  display: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .search-responsive-nav-inner{
    height: 100%;
    display: flex;
    align-items: center;
    form{
      flex: 1;
      border-bottom: 1px solid #999;
      input{
        flex: 1;
        cursor: auto;
      }
      input, button{
        border: none;
        padding: 15px;
        background: transparent;
      }
    }
  };
}