.search-area-keyowrd{
  border: 1px solid #cecece;
  height: 100px;
  padding: 0 20px;
  margin: 40px 0;
  h1{
    font-size: 18px;
    color: rgb(25, 25, 25);
    mark{
      color: coral;
      background: none;
    }
  }
}

.result-heading-help{
  color: rgb(76, 85, 98);
  padding: 0 20px;
}
