.search-area-keyowrd{
  background: #F2F4F4;
  padding: 10px;
  margin: 0 0 30px 0;
  h1{
    font-size: 14px;
    color: rgb(25, 25, 25);
    mark{
      color: $--dark;
      background: none;
    }
  }
}

.feed-section-headline{
  margin-top: 30px;
}

.price-filter{
  margin-left: 50px;
  span{
    font-size: 14px;
  }
  .price-filter-inputs{
    gap: .5em;
    .input-field{
      border: 1px solid $--dark;
      padding: 0 10px;
      background: $--extra_light;
      min-height: 45px;
      max-height: 45px;
      span{
        color: #999;
      }
      input{
        width: 50px;
        height: 45px;
        border: none;
        background: transparent;
      }
    }
      button{
        border: none;
        padding: 0 10px;
        color: $--extra_light;
        border: 1px solid #D7DBDD;
        height: 45px;
        cursor: pointer;
        background: $--dark;
        font-family: mrglovani;
        font-size: 12px;
      }
    .price-to{
      margin-left: 10px;
    }
  }
}

.result-heading-help{
  color: rgb(76, 85, 98);
  padding: 0 20px;
}
.search-result-cards{
  margin-bottom: 50px;
}

.subscribe{
  height: 500px;
  max-width: 100%;
  position: relative;
  .subscribe-inner{
    position: absolute;
    z-index: 1;
    bottom: 20%;
    top: 20%;
    left: 10%;
    right: 10%;
    background: $--extra_light;
    display: grid;
    grid-template-columns: 30% 70%;
    .subscribe-block{
      border-right: 1px solid $--dark;
      text-align: center;
      padding: 15px;
      background: $--dark;
      .registr-typography{
        font-size: 20px;
        line-height: 2.2rem;
        color: $--fooggy_light;
      }
    }
    .subscribe-form{
      padding: 20px;
      width: 100%;
      justify-content: center;
      .form-email-confirm{
        width: 100%;
        .subs-input, .subs-btn{
          margin-top: 15px;
          padding: 10px 20px;
          border: 1px solid $--dark;
          height: 50px;
        }
        .subs-input{
          width: 100%;
        }
        .subs-btn{
          background: $--dark;
          padding: 15px 30px 10px 30px;
          color: $--extra_light;
          font-family: mrglovani;
          cursor: pointer;
        }
      }
    }
    .subscribe-banner-circle{
      width: 120px;
      height: 120px;
      background: $--dark;
      position: absolute;
      border-radius: 50%;
      left: 0;
      right: 0;
      margin: auto;
      top: -55px;
      i{
        color: white;
        font-size: 30px;
      }
    }
  }
  .subscribe-area-hero{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.subscribe-success-modal{
  position: fixed;
  width: 600px;
  height: 400px;
  background: #111;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  display: none;
  overflow: hidden;
  .subscribe-success-modal-inner{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .success-message{
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        font-size: 20px;
        margin-bottom: 15px;
        color: white;
      }
      .my-loader-spin-result-success{
        height: 100px;
      }
    }
  }
}