.form-area{
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  .form-area-heading{
    margin-bottom: 40px;
  }
  .user-form{
    display: grid;
    grid-template-rows: auto;
    border: 1px solid rgb(198, 198, 198);
    padding: 40px;
    gap: 1rem;
    input{
      padding: 20px;
      border: 1px solid $smooth_border_color;
      font-size: 15px;
    }
    button{
      padding: 20px;
      background: #292929;
      color: white;
      font-size: 18px;
      cursor: pointer;
    }
  }
}