@import 'default';
@import 'colors';
@import 'category';
@import 'cart';
@import 'search';
@import 'footer';
@import 'product';
@import 'user';
@import 'shop';
@import 'responsive';


// main header styles 
.main-header{
  padding: 15px 0;
  border-bottom: 1px solid #e9e9e9;
  .status-bar-navigation{
    margin-left: 40px;
    .status-bar-navigation-list{
      gap: 2rem;
      .bar-navigation-list-item{
        a{
          color: $--dark;
          font-size: 14px;
          box-shadow: inset 0 0 0 0 $--light_blue;
          color: $--dark;
          margin: 0 -.25rem;
          padding: 3px .25rem 0 .25rem;
          transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
          &:hover {
            box-shadow: inset 100px 0 0 0 $--light_blue;
            color: $--dark;
          }
        }
      }
    }
  }
  .main-header-inner{
    transition: .4s; 
    height: 90px;
    .header-left-drawer{
      .logo-drawer{
        max-width: 200px;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .header-middle-drawer{
      flex: 1;
        .main-search-form{
          flex: 1;
          background: $--extra_light;
          margin: 0 50px;
          box-shadow: $--primary_shadow
          input, button{
            border: none;
            color: $--dark;
          }
          .search-input{
            height: 45px; 
            flex: 1;
            padding: 0 20px;
            color: $--dark;
            border: 1px solid $--dark;
          }
          .search-button{
            color: $--dark;
            cursor: pointer;
            font-size: 20px;
            padding: 0 40px;
            background: $--dark;
            height: 45px; 
            i{
              color: $--extra_light;
              font-size: 15px;
            }
          }
        }
    }
    .header-right-drawer{
      gap: 1.5rem;
      i{
        color: $--dark;
      }
      .register{
        i{
          margin-left: 10px;
        }
      }
      .activity-drawer{
        i{
          font-size: 20px;
        }
      }
      .cart-icon{
        width: 20px;
        height: 20px;
        position: relative;
        bottom: 2px;
        span{
          position: absolute;
        }
        .cart-badge{
          width: 20px;
          height: 20px;
          background: $--dark;
          border-radius: 50%;
          position: absolute;
          top: -6px;
          right: -10px;
          color: $--extra_light;
        }
      }
    }
  }
}

.site-banner{
  .site-banner-inner{
    padding: 15px;
    .banner-widget{
      font-size: 13px;
      span{
        margin-left: 15px;
      }
      i{
        font-size: 25px;
      }
    }
  }
  background: $--banner-primary;
}


// slider styles 
.products-slider-banner{
  position: relative;
  background: $--light_blue;
  .owl-pagination{
    position: absolute;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    .owl-page{
      width: 30px;
      height: 30px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $--dark;
      cursor: pointer;
      font-size: 13px;
    }
    .active{
      border: 2px solid $--dark;
    }
  }
  .slider-banner-item{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 500px;
    .banner-item-hero{
      width: 100%;
      height: 100% ;
      img{
        width: 100% ;
        height: 100% ;
        object-fit: cover ;
      }
    }
    .banner-item-text{
      height: 100%;
      display: flex;
      align-items: center;
      padding: 20px 20px 20px 40px ;
      line-height: 1.8;
      .banner-description-typography-headline{
        font-size: 25px;
        color: $--dark;
      }
      .banner-description-typography-subheadline{
        font-size: 15px;
        color: $--dark;
        font-weight: lighter;
      }

      .banner-item-buttons{
        gap: 1rem;
        margin-top: 30px;
        border-top: 1px solid $--primary_border;
        padding-top: 30px;
        .banner-btn-act{
          border: 1px solid $--primary_border;
          padding: 5px 15px;
          background: $--dark;
          a{
            color: $--extra_light;
            font-size: 13px;
          }
        }
      }
    }
  }
}

// category slider styles 

.category-slider{
  padding: 30px 0;
  .category-slider-road{
    position: relative;
    gap: 1rem;
    .owl-prev, .owl-next{
      position: absolute;
      top: 0;
      bottom: 0;
      height: 40px;
      background: $--banner-primary;
      width: 40px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding-top: 5px;
      i{
        font-size: 20px;
        color: $--dark;
      }
    }
    .owl-prev{
      left: 5px;
    }
    .owl-next{
      right: 5px;
    }
  }
  .category-item{
    padding: 5px;
    .category-item-content{
      height: 200px;
      text-align: center;
      img{
        width: 100%;
        height: 90%;
        object-fit: contain;
        padding: 20px;
      }
      h5{
        color: $--dark;;
        position: relative;
        bottom: 30px;
      }
    }
  }
}

// product card styles 
.product-card{
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  &:hover{
    .product-card-tocart{
      transition: .2s;
      right: 10px;
    }
  }
  .flip-card {
    background: $--extra_light;
    height: 300px;
    perspective: 1000px;
    border: 1px solid #e9e9e9;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    background: transparent;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: transparent;
    padding: 20px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
  .product-card-drawer{
    margin-top: 10px;
    .product-card-avaliability{
      color: $--extra_light;
      width: fit-content;
      padding: 5px 10px 2px 10px;
      font-size: 12px;
      background: $--dark;
    }
    .not-avalibale{
      background: $--attention_primary !important;
    }    
  }
  .product-card-price{
    font-size: 16px;
    position: relative;
    top: 3px;
    color: $--dark;
    font-weight: 700;
    pointer-events: none;
  }
  .product-card-info{
    .product-card-name{
      margin-top: 10px;
      letter-spacing: .4px;
      color: $--dark;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: lighter;
      font-size: 13px;
    }
  }
  .product-card-tocart{
    position: absolute;
    top: 10px;
    bottom: 0;
    right: -50px;
    background: $--dark;
    height: 45px;
    width: 45px;
    transition: .2s;
    a{
      width: 100%;
      height: 100%;
    }
    i{
      font-size: 20px;
      color: $--extra_light;
    }
  }
}


.product-feed{
  background: $--light_blue_secondary;
  padding-bottom: 30px;
  padding-top: 30px;
}

.product-cards-area{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: left;
}


// shop by styles banner styles 

  .shop-by-styles-inner{
    display: grid;
    grid-template-columns: 65% 33%;
    justify-content: space-between;
    margin: 40px  auto;
    .style-banner-window{
      height:400px;
      position: relative;
      border: 1px solid #e9e9e9;
      .byStyle-banner-hero{
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          z-index: 1;
          left: 0;
        }
      }
      .styles-banner-info{
        height: fit-content;
        position: absolute;
        left: 5vw;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 2;
        h1{
          color: $--extra_light;
          background: #111;
          font-size: 2vw;
          font-weight: lighter;
          padding: 5px 10px;
        }
        h5{
          font-size: 17px;
          font-weight: lighter;
          margin: 10px 0 30px 0;
          color: $--extra_light;
          background: #111;
          padding: 5px 10px;
        }
        .shop-btn{
          margin-top: 40px;
          padding: 10px 20px;
          border: 2px solid $--dark;
          color: $--dark;
          background:  $--extra_light;
          font-size: 15px;
        }
      }
    }
    .small-window{
      text-align: center;
      .styles-banner-info{
        border: 3px solid #fff;
        left: 0;
        right: 0;
        margin: auto 20%;
        padding: 70px 0;
        h1{
          font-size: 20px;
          color: $--dark;
          background: #fff;
          padding: 5px 10px;
        }
      }
    }
  }

.details-item{
  background: $--light_blue;
  .details-item-inner{
    padding: 20px 15px;
    .details-item-drawer{
      display: grid;
      grid-template-columns: 55% auto;
      .details-hero{
        height: 100%;
        position: relative;
        img{
          width: 100%;
          height: 100%;
        }
        .detail-stick{
          position: absolute;
          width: 30px;
          height: 30px;
          background: $--extra_light;
          top: 15%;
          right: 5%;
          border-radius: 50%;
          transform: scale(1);
          animation: pulse 2s infinite;
          cursor: pointer;
          span{
            color: rgb(0, 0, 0);
          }
          .details-stick-info{
            display: none;
            width: 300px;
            height: 80px;
            background: #111;
            position: absolute;
            top: 20px;
            right: 20px;
            img{
              height: 80px;
              width: 100px;
              object-fit: cover;
            }
            .details-stick-info-body{
              padding: 10px;
              h6{
                color: white;
                font-size: 15px;
              }
              p{
                color: white;
                font-size: 10px;
                margin-top: 5px;
              }
            }
          }
            &:hover{
              .details-stick-info{
                display: flex !important;
              }
            }
        }
        .details-stick-sofa{
          top: 70%;
          right: 43%;
        }
      }
      .details-description{
        i{
          font-size: 50px;
          color: $--light_blue;
        }
        background: $--light_blue_secondary;
        margin-left: 50px;
        height: 100%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1{
          font-size: 30px;
          color: #597699;
        }
        h3{
          padding-top: 15px;
          color: #597699;
        }
      }
    }
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(103, 26, 80, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(141, 2, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(241, 0, 0, 0);
  }
}

.partners-slider{
  margin: 40px 0;
  &:first-child{
    border-left: 1px solid $--primary_border;
  }
  .partner-item{
    border: 1px solid $--primary_border;
    height: 200px;
    padding: 30px;
    border-left: 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

//owl carousell styles
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-item{
	float: left;
}
.all-products-feed{
  margin-top: 30px;
}
