@import 'default';
@import 'colors';
@import 'category';
@import 'cart';
@import 'search';
@import 'footer';
@import 'product';
@import 'user';
@import 'shop';
@import 'responsive';

//top bar styles
.site-top-bar{
  background: #292929;
  .top-bar-inner{
    height: 40px;
    .bar-inner-left, .bar-inner-right{
      .top-bar-item{
        color: $text-foggy-white-color;
        a{
          padding: 0 10px;
          color: #999;
          font-size: 13px;
        }
        &::after{
          content: " | ";
        }
      }
      & :last-child::after{
        content:  "" ;
      }
    }
    .bar-inner-right{
      & :first-child{
        a{
          padding-right: 10px !important;
        }
      }
      .top-bar-item{
        i{
          padding-left: 15px;
        }
        a{
          padding: 4px ;
        }
      }
    }
  }
}


// main header styles 
.main-header{
  padding: 15px 0;
  border-bottom: 1px solid $smooth_border_color;
  .status-bar-navigation{
    margin-left: 40px;
    .status-bar-navigation-list{
      gap: 2rem;
      .bar-navigation-list-item{
        a{
          color: rgb(0, 0, 0);
          font-size: 13px;
        }
      }
    }
  }
  .main-header-inner{
    transition: .4s; 
    .header-left-drawer{
      .logo-drawer{
        max-width: 200px;
        height: 70px;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .header-middle-drawer{
      flex: 1;
        .main-search-form{
          flex: 1;
          background: white;
          margin: 0 50px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(27, 31, 35, 0.30) 0px 0px 0px 1px;
          border-radius: 20px;
          input, button{
            border: none;
            color: $text-dark-color;
            border-radius: 20px;
          }
          .search-input{
            height: 35px; 
            flex: 1;
            padding: 0 20px;
            color: $text-dark-color;
          }
          .search-button{
            color: $text-light-color;
            cursor: pointer;
            font-size: 20px;
            padding: 0 20px 2px 0;
            background: transparent;
            height: 35px; 
            i{
              color: #85929E;
              font-size: 15px;
            }
          }
        }
    }
    .header-right-drawer{
      gap: 1.5rem;
      i{
        color: #292929;
      }
      .register{
        i{
          margin-left: 10px;
        }
      }
      .activity-drawer{
        i{
          font-size: 20px;
        }
      }
      .cart-icon{
        width: 20px;
        height: 20px;
        position: relative;
        bottom: 2px;
        span{
          position: absolute;
        }
        .cart-badge{
          width: 20px;
          height: 20px;
          background: #292929;
          border-radius: 50%;
          position: absolute;
          top: -6px;
          right: -10px;
          color: white;
        }
      }
    }
  }
}


// slider styles 
.products-slider-banner{
  position: relative;
  .owl-pagination{
    position: absolute;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    .owl-page{
      width: 30px;
      height: 30px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #111;
      cursor: pointer;
      font-size: 13px;
    }
    .active{
      border: 2px solid #000;
    }
  }
  .slider-banner-inner{
    max-width: 100%;
  }
  .slider-banner-item{
    display: grid;
    grid-template-columns: 55% 45%;
    height: 500px;
    align-items: center;
    .banner-item-hero{
      width: 100%;
      background: #D5DBDB;
      height: 500px;
      display: flex;
      align-items: center;
      img{
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
    }
    .banner-item-text{
      height: 500px;
      display: flex;
      align-items: center;
      background: #222 ;
      padding: 20px 20px 20px 40px ;
      line-height: 1.8;
      .banner-description-typography-headline{
        font-size: 45px;
        color: white;
      }
      .banner-description-typography-subheadline{
        font-size: 15px;
        color: white;
        font-weight: lighter;
      }

      .banner-item-buttons{
        gap: 1rem;
        margin-top: 30px;
        border-top: 1px solid #85929E;
        padding-top: 30px;
        .banner-btn-act{
          border: 1px solid #999;
          padding: 5px 15px;
          background: #292929;
          a{
            color: white;
            font-size: 13px;
          }
        }
      }
    }
  }
}

// category slider styles 

.category-slider{
  // background: #232323;
  padding: 30px 0;
  .category-slider-road{
    position: relative;
    gap: 1rem;
    .owl-prev, .owl-next{
      position: absolute;
      top: 0;
      bottom: 0;
      height: 40px;
      background: #292929;
      width: 40px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      i{
        font-size: 20px;
        color: white;
      }
    }
    .owl-prev{
      left: 5px;
    }
    .owl-next{
      right: 5px;
    }
  }
  .category-item{
    padding: 5px;
    .category-item-content{
      background: #F4F6F6;
      height: 200px;
      text-align: center;
      img{
        width: 100%;
        height: 90%;
        object-fit: contain;
        padding: 20px;
      }
      h5{
        color: $text-dark-color;
        position: relative;
        bottom: 30px;
      }
    }
  }
}

// product card styles 

.product-card{
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  max-width: 300px;
  &:hover{
    .product-card-tocart{
      transition: .2s;
      right: 10px;
    }
  }
  .flip-card {
    background-color: #efefef;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    // transform-style: preserve-3d;
    background: transparent;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: transparent;
    padding: 20px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
  .product-card-drawer{
    margin-top: 10px;
    .product-card-avaliability{
      background: #292929;
      width: fit-content;
      padding: 3px 3px 1px 3px;
      border-radius: 3px;
      font-size: 12px;
      color: white;
    }
    .not-avalibale{
      background: #F5B7B1 !important;
    }    
  }
  .product-card-price{
    font-size: 16px;
    color: #292929;
    font-weight: 700;
    pointer-events: none;
  }
  .product-card-info{
    .product-card-name{
      margin-top: 10px;
      letter-spacing: .4px;
      color: #292929;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: lighter;
    }
  }
  .product-card-tocart{
    position: absolute;
    top: 10px;
    bottom: 0;
    right: -50px;
    background: #292929;
    height: 45px;
    width: 45px;
    transition: .2s;
    a{
      width: 100%;
      height: 100%;
    }
    i{
      font-size: 20px;
      color: white;
    }
  }
}

//main product feed styles
.main-page-feed-header{
  margin-bottom: 40px;
}
.feed-section-headline{
  margin-top: 20px;
  text-align: center;
  line-height: 2.4; 
  .section-hd-typography{
    font-size: 30px;
    font-weight: lighter;
    color: #323232;
  }
  .seaction-headline-ph{
    max-width: 600px;
    font-size: 12px;
    margin: auto;
    line-height: 1.2;
    color: #989898;
    font-weight: lighter;
  }
}

.product-cards-area{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: left;
}


// shop by styles banner styles 
.shop-by-styles{
  margin: 30px 0;
  padding: 40px;
  .shop-by-styles-inner{
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 2rem;
    .style-banner-window{
      height:400px;
      position: relative;
      border: 1px solid #D5DBDB;
      // background: #111;
      .byStyle-banner-hero{
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          z-index: 1;
          left: 0;
        }
      }
      .styles-banner-info{
        height: fit-content;
        position: absolute;
        left: 100px;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 2;
        h1{
          color: #000000;
          font-size: 40px;
          font-weight: lighter;
        }
        h5{
          font-size: 17px;
          font-weight: lighter;
          color: #000000;
          margin: 10px 0 30px 0;
        }
        .shop-btn{
          margin-top: 40px;
          padding: 10px 20px;
          border: 2px solid #000000;
          color: white;
          background: #111;
        }
      }
    }
    .small-window{
      text-align: center;
      .styles-banner-info{
        border: 3px solid #292929;
        left: 0;
        right: 0;
        margin: auto 70px;
        padding: 100px 0;
        h1{
          font-size: 24px;
          color: rgb(0, 0, 0);
        }
      }
    }
  }
  
}



.benefit-cards-wrapper{
  margin-top: 50px;
  background: #222;
  padding: 20px 0;
  .benefit-cards-wrapper-inner{
    display: grid;
    grid-template-columns: 35% auto;
    gap: 1rem;
    .benefits-area-banner{
      
    height: 600px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .benefit-cards{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
      .benefit-card{
        width: 100%;
        background: #ECF0F3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 30px;
        i{
          font-size: 50px;
        }
        h2{
          margin: 20px 0 10px 0;
          font-size: 20px;
        }
        p{
          color: #111;
          font-size: 13px;
        }
      }
    }
  }
}

.partners-slider{
  margin: 40px 0;
  &:first-child{
    border-left: 1px solid rgba(0, 0, 0, 0.112);;
  }
  .partner-item{
    border: 1px solid rgba(0, 0, 0, 0.112);
    height: 200px;
    padding: 30px;
    border-left: 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

//owl carousell styles
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-item{
	float: left;
}
.all-products-feed{
  margin-top: 30px;
}
